{%- set external_urls = {
  'github': 'https://github.com/seerai/geodesic-python-api',
  'github_issues': 'https://github.com/seerai/geodesic-python-api/issues',
  'contributing': 'https://github.com/seerai/geodesic-python-api/blob/main/CONTRIBUTING.md',
  'docs': 'https://seerai.space',
  'tutorials': 'https://seerai.space/tutorials',
  'previous_pytorch_versions': 'https://seerai.space/previous-versions/',
  'home': 'https://seerai.space/',
  'get_started': 'https://seerai.space/get-started',
  'features': 'https://seerai.space',
  'blog': 'https://seerai.space/blog/',
  'support': 'https://seerai.space/support',
  'hub': 'https://seerai.space/hub',
  'community': 'https://seerai.space/#community-module',
  'forums': 'https://discuss.seerai.space/',
  'audio': 'https://seerai.space/audio/stable/index.html',
  'text': 'https://seerai.space/text/stable/index.html',
  'vision': 'https://seerai.space/vision/stable/index.html',
  'elastic': 'https://seerai.space/elastic/',
  'serve': 'https://seerai.space/serve/',
  'xla': 'https://seerai.space/xla',
  'entaglement': 'https://seerai.space/entaglement',
  'facebook': 'https://seerai.space',
  'youtube': 'https://seerai.space',
  'twitter': 'https://seerai.space'
}
-%}
